<h1>To-Do Application</h1>
<hr />
<div class="container">
  <form id="submitForm" #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="task"
        placeholder="Enter task"
        ngModel
        name="task"
        required
      />
      <small
        *ngIf="taskForm.invalid && taskForm.dirty"
        id="errorMessage"
        class="form-text text-danger"
        >Required field</small
      >
    </div>

    <button
      [disabled]="taskForm.invalid"
      id="submitButton"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
  <hr />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Complete</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
        <th scope="col">Save</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of taskArray; index as i">
        <td>
          <input
          #taskinput
          [ngClass]="{'edit':t.isEditable,'not-edit':!t.isEditable,'crossed':t.isCompleted}"
            type="text"
            class="form-control"
            id="taskInTable"
            value="{{ t.taskName }}"
            [readOnly]="!t.isEditable"
          />
        </td>
        <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox" /></td>
        <td>
          <button
            id="delete"
            class="btn btn-danger btn-sm"
            (click)="onDelete(i)"
          >
            Delete
          </button>
        </td>
        <td>
          <button
            id="edit"
            [disabled]="t.isEditable"
            class="btn btn-primary btn-sm"
            (click)="onEdit(i)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            id="save"
            [disabled]="!t.isEditable"
            class="btn btn-warning btn-sm"
            (click)="onSave(i,taskinput.value)"
          >
            Save
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
